body {
  padding: 0;
  padding-top: 4rem;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1rem 0;
}

img {
  width: 50%;
  margin: 0 auto;
}

p {
  margin: 2rem 0;
}

a {
  font-weight: 600;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}

.anatomy-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
  justify-items: center;
  align-items: center;
}

.fins ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
  justify-items: center;
  align-items: center;
}

.anatomy-list p {
  text-align: center;
  margin-bottom: 0;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;
}

.here {
  font-weight: 800;
  color: orange;
}

.fun-facts {
  margin: 3rem 0;
}

.fun-facts h3 {
  text-align: center;
}

.fun-facts ul {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

.monster {
  margin-bottom: 2rem;
}

.comment-area {
  width: 90%;
  margin: 4rem 0;
}

form {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

form label {
  font-weight: 600;
  color: orange;
}

form input,
form textarea {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid black;
}

form button {
  background-color: orange;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.video {
  margin: 2rem 0;
}

.link-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.link {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link img {
  width: 200px;
}

.link li {
  margin: 1rem 0;
  text-align: center;
}


footer {
  text-align: center;
  color: orange;
  font-weight: 600;
  border-top: 2px solid orange;
  padding: 2rem 0;
}